{% extends 'base.html.twig' %}
{% set current_page = 'breeding' %}

{% block title %}Élevage{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('breeding') }}
{% endblock %}

{% block body %}
    <div class="img-container">
        <img src="{{ asset('build/images/chiens11.png')}}" alt="deux cockers" class="team-dog">
        <img src="{{ asset('build/images/teamdog.png')}}" alt="élevage" class="team-dog">
        <img src="{{ asset('build/images/chiens4.png')}}" alt="cocker et baptiste" class="team-dog">
    </div>
<section class="section-container">
     <h2>Notre élevage</h2>
        <p>Bienvenue dans notre élevage canin familial, fondé en 2014, entièrement dédié à une race qui nous tient particulièrement à cœur : le Cocker Anglais. </p> </br>
        <p> Nous sommes un petit élevage familial passionné et amoureux de cette race pleine de tendresse, d’énergie et de joie. </p>  </br>
        <p> La passion pour cette race est née de la rencontre de Baptiste avec un cocker dans une SPA, qui lui a marqué son coeur. </p>  </br>
        <p> Nos chiens partagent notre quotidien au rythme des écuries et de l’énergie humaine qui fait vibrer Animosmose. Ils grandissent sur un domaine de 5 hectares, entourés de verdure, de grands espaces et de liberté. Chaque jour, nos Cockers profitent de balades, à la plage ou en forêt, de jeux, de baignades, et de câlins, afin de leur procurer équilibre, sociabilité et bien être. </p> </br>
        <p> Nos chiots naissent dans un environnement calme, sécurisé et plein d’amour. Dès leurs premières semaines, ils bénéficient d’une alimentation de qualité adaptée à leur croissance, et sont habitués à tous les bruits de la vie quotidienne, aux manipulations, aux autres animaux et à l’extérieur. Ils évoluent sereinement dans un cadre où tout est fait pour les aider à devenir des compagnons bien dans leurs pattes. </p> </br>
        <p> Tous nos chiots sont inscrits au LOF, issus de parents testés pour les maladies génétiques spécifiques à la race, et reçoivent les meilleurs soins dès leur naissance. Ils partent de la maison à 9 semaines révolues, vaccinés, identifiés, vermifugés, avec leur certificat vétérinaire de bonne santé, leur carnet de santé, pour continuer leur aventure dans leur nouvelle famille. </p> </br>
        <p> Notre priorité est le bien-être de nos chiens et la relation de confiance avec les adoptants. Nous restons toujours disponibles pour accompagner les familles, avant et après l’arrivée du chiot. Un groupe Whatsapp est créé dès la naissance des chiots pour permettre de voir évoluer votre futur compagnon et d’échanger ensemble sur les thématiques qui peuvent vous inquiéter. </p> </br>
        <p> Vous souhaitez découvrir la vie de nos toutous? ça tombe bien, nous adorons la partager quotidiennement sur nos réseaux, alors n’hésitez pas à nous rejoindre, sur instagram ou facebook.</p>
</section>
<section class="section-flex section-container">
    <img src="{{ asset('build/images/chiot10.png')}}" alt="chiot">
    <div class="background-beige">
        <p>Retrouvez tous nos étalons, femelles et portée(s) en cours sur notre espace «Chiens de France»</p>
        <a href="https://deslandesdaraize.chiens-de-france.com/cocker-spaniel-anglais">
            <button type="button">Découvrir l'élevage des Landes d'Araize</button>
        </a>
    </div>
    <img src="{{ asset('build/images/chiot3.jpg')}}" alt="chiot">
</section>


{% endblock %}
