{% extends 'base.html.twig' %}

{% block title %}Commande #{{ order.id }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Commande #{{ order.id }}</h1>
    <p>Créée le : {{ order.date|date('d/m/Y H:i') }}</p>

    <h3>Articles :</h3>
    <table>
        <thead>
        <tr>
            <th>Produit</th>
            <th>Variant</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for article in order.articles %}
            <tr>
                <td>{{ article.variantId.productId.name }}</td>
                {# article.variantId → récupère le variant lié à l’article (getVariantId())
                   variantId.product → récupère le produit lié au variant (getProduct())
                    product.name → récupère le nom du produit #}
                <td>{{ article.variantId.label }}</td>
                <td>{{ article.price }} €</td>
                <td>{{ article.quantity }}</td>
                <td>{{ article.price * article.quantity }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><strong>Total de la commande : {{ order.total }} €</strong></p>

    <a href="{{ path('app_product_list') }}">Retour au catalogue</a>
</div>
{% endblock %}
