{% extends 'base.html.twig' %}

{% block header_logo %}
    <img class="logo-alimosmose" src="{{ asset('build/images/logo-boutique.png') }}" alt="logo boutique"/>
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('authentification') }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Inscription</h1>

        {{ form_start(form, {'attr': {'aria-label': 'Formulaire d’inscription'}}) }}


        <div class="form-row">
            {{ form_row(form.email, {
                label: 'Email',
                attr: {
                    'aria-required': 'true',
                    'placeholder': 'Votre email'
                }
            }) }}
        </div>


        <div class="form-row">
            {{ form_label(form.plainPassword, 'Mot de passe') }}
            {{ form_widget(form.plainPassword, {
                attr: {
                    'aria-required': 'true',
                    'placeholder': 'Votre mot de passe'
                }
            }) }}
            {{ form_errors(form.plainPassword) }}
        </div>
        </br>

        <div class="form-row">
            <div class="form-row">
                {{ form_row(form.name, {label: 'Nom', attr: {'aria-required': 'true', 'placeholder': 'Votre nom'}}) }}
            </div>
            <div class="form-row">
                {{ form_row(form.surname, {label: 'Prénom', attr: {'aria-required': 'true', 'placeholder': 'Votre prénom'}}) }}
            </div>
            <div class="form-row">
                {{ form_row(form.phone, {label: 'Numéro de téléphone', attr: {'placeholder': 'Ex: 06 12 34 56 78'}}) }}
            </div>

            <div class="form-row">
                {{ form_row(form.address.street, {label: 'Adresse', attr: {'placeholder': 'Rue / numéro'}}) }}
            </div>
        </div>
            <div class="form-row">
                {{ form_row(form.address.zipcode, {label: 'Code postal', attr: {'placeholder': 'Ex: 56000'}}) }}
            </div>
            <div class="form-row">
                {{ form_row(form.address.city, {label: 'Ville', attr: {'placeholder': 'Ex: Vannes'}}) }}
            </div>
            <div class="form-row">
                {{ form_row(form.address.countryLabel, {label: 'Pays'}) }}
            </div>
        <div class="form-row">
            {{ form_row(form.address.country) }} {# hidden field #}
        </div>
        <div class="form-row">
            {{ form_row(form.certification) }}
        </div>

        <button type="submit">S'inscrire</button>

        {{ form_end(form) }}
    </div>

{% endblock %}
