{% extends 'base.html.twig' %}

{% block header_logo %}
    <img class="logo-alimosmose" src="{{ asset('build/images/logo-boutique.png') }}" alt="logo boutique"/>
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('authentification') }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">

        {% if app.user %}
            <div>
                Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <h1>Connexion</h1>

        <form method="post" action="{{ path('app_login') }}" aria-label="Formulaire de connexion">

            <div class="form-row">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}"
                       name="email" id="username"
                       autocomplete="email" required autofocus
                       aria-required="true"
                       placeholder="Votre email">
            </div>

            <div class="form-row">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password"
                       autocomplete="current-password" required
                       aria-required="true"
                       placeholder="Votre mot de passe">
                <p>
                    Mot de passe oublié ?
                    <a href="{{ path('app_forgot_password_request') }}">Cliquez ici</a> pour le réinitialiser.
                </p>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


            {% if error %}
                <div class="form-errors" role="alert" aria-live="assertive">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
                {# role="alert" et aria-live : notification immédiate aux lecteurs d’écran #}
            {% endif %}

            <div class="form-row">
                <label>
                    <input type="checkbox" name="_remember_me">
                     Se souvenir de moi
                </label>
            </div>

            <button type="submit">Se connecter</button>


            <p>
                Vous n'avez pas encore de compte ?
                <a href="{{ path('app_user_user_new') }}">Cliquez ici</a> pour vous inscrire.
            </p>

        </form>
    </div>


{% endblock %}
