{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_login') }}">

        {% if app.user %}
            <div>
                You are logged in as {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1>Please sign in</h1>

        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}"
               name="email" id="username" class="form-control"
               autocomplete="email" required autofocus>

        <label for="password">Password</label>
        <input type="password" name="password" id="password"
               class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {# <input type="hidden" name="_target_path" value="{{ path('app_shop_order') }}"> #}

        {% if error %}
            <div>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </div>

        <button type="submit">Se connecter</button>

        <p>
            Vous n'avez pas encore de compte ?
            <a href="{{ path('app_user_user_new') }}">Cliquer ici</a> pour vous inscrire
        </p>

    </form>
{% endblock %}
