{% extends 'base.html.twig' %}
{% set current_page = 'home' %}
{% block title %}Animosmose - Bienvenue{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}



 {# --- Contenu principal de la page --- #}
    <div class="team-picture">

    </div>
        <div class=" home-container ">
            <div class="background-beige">
            <div class="section-h1 ">
                <h1>Bienvenue chez Animosmose !</h1>
                <a href='{{ path('app_product_list') }}' class="button-shop">Notre boutique</a>
                <h2>Nos services</h2>
                <section class="carousel-container" role="region" aria-roledescription="carousel" aria-label="Nos services">
                    <button class="carousel-btn prev" aria-label="Élément précédent">‹</button>

                    <div class="carousel-track">
                        <div class="carousel-item">
                            <article class="home-article-s2">
                                <img src="{{ asset('build/images/logo-boutique.png') }}" alt="Boutique" />
                                <p>Notre boutique, en ligne et en magasin</p>
                                <a class="button" href="{{ path('app_product_list') }}">Découvrir</a>
                            </article>
                        </div>

                        <div class="carousel-item">
                            <article class="home-article-s2">
                                <img src="{{ asset('build/images/chiot11.png') }}" alt="Élevage de cockers" />
                                <p>Notre élevage de cocker anglais</p>
                                <a class="button" href="{{ path('app_breeding') }}">Découvrir</a>
                            </article>
                        </div>

                        <div class="carousel-item">
                            <article class="home-article-s2">
                                <img src="{{ asset('build/images/pension.png') }}" alt="Pension canine" />
                                <p>Pension et garde à domicile</p>

                                <a class="button" href="{{ path('app_pension') }}">Découvrir</a>

                            </article>
                        </div>

                        <div class="carousel-item">
                            <article class="home-article-s2">
                                <img src="{{ asset('build/images/chiot12.jpg') }}" alt="Éducation canine" />
                                <p>Éducation canine</p>
                                <a class="button" href="{{ path('app_pension') }}#2">Découvrir</a>
                            </article>
                        </div>

                        <div class="carousel-item">
                            <article class="home-article-s2">
                                <img src="{{ asset('build/images/reconversion.png') }}" alt="Reconversion équine" />
                                <p>Pension et reconversion équine</p>
                                <a class="button" href="{{ path('app_stable') }}">Découvrir</a>
                            </article>
                        </div>
                    </div>

                    <button class="carousel-btn next" aria-label="Élément suivant">›</button>
                </section>
            </div>
        </div>
            <section>
                <h2 aria-labelledby="qui-sommes-nous">Qui sommes nous ? </h2>
                <article>
                    <div class="personne">
                        <img src= "{{ asset('build/images/baptiste.png')}}" alt="photo de baptiste"/>
                        <p class=font-family-title>Baptiste</p>
                    </div>
                    <div class="separation-border">
                        <p class="description"> Après des études dans les services à la personne, Baptiste s’investit dans la protection animale puis à 21 ans il crée “l’association Bêtes de Scène” qu’il préside pendant 10 ans. </p>
                        <p class="description"> En parallèle il est salarié dans une pension canine au sud de Rennes, puis il allie ses deux savoirs, canin et social, et intègre l’association Lien K nin comme intervenant dans des structures pour personnes handicapées, âgées, Instituts Médicaux Éducatifs etc …. </p>
                        <p class="description"> Il devient salarié à la Spa pendant quelques années.</p>
                        <p class="description"> En 2014 il ouvre Animosmose une pension canine familiale, en Ille et Vilaine, puis en 2017 il découvre les joies de faire naître des petits cockers! </p>
                        <p class="description"> En 2020 toute la ménagerie élit domicile dans le Morbihan !</p>
                        <p class="description"> La pension canine devient anecdotique et l’élevage prend un nouvel envol tout en gardant sa dimension familiale.</p>
                        <p class="description"> Une nouvelle activité voit le jour, la pension d’équidés et le sauvetage / reconversion de chevaux de courses, l’éducation canine reste au cœur de ses préoccupations. Baptiste propose la garde à domicile dans son nouveau secteur.</p>

                    </div>
                </article>
                <article class="article-franck">
                    <div class="personne">
                        <img src="{{ asset('build/images/franck.png')}}" alt="photo de franck"/>
                        <p class=font-family-title>Franck</p>
                    </div>
                    <div class="description-franck">
                    <p class="description">Ingénieur de production spécialisé en alimentation, Franck obtient une thèse professionnelle où il manage notamment une unité de fabrication d’aliments pour animaux de compagnie, puis fait ses armes pendant deux ans au sein d’une PME spécialisée dans le domaine de l’ultra propreté (salles blanches, agro-alimentaire, cosmétiques, pharmaceutiques), puis passe 13 ans à travers différents postes en tant que fournisseur de solutions techniques et de process industriels novateurs dans le domaine de l’alimentation et la pharmaceutique. </p>
                    <p class="description"> Il est directeur des ventes lorsqu’au contact de Baptiste et de sa tribu, il décide de prendre un virage à 180 degrés et de mettre ses compétences et son expérience au service de l’alimentation des chiens & des chats, en créant Alimosmose en 2021. </p>
                    <p class="description"> Depuis 7 ans, totalement dédié au bien être de vos animaux à travers le prisme de l’alimentation, il apporte son expertise et livre les clients à leur domicile pour assurer un service toujours plus proche de nos clients.</p>

                    <p class="both-description">La complémentarité de ces deux là est indubitablement leur plus grande force pour servir leur devise : le bien être des animaux avant tout.</p>
                    </div>
                    <div class="toggle-arrow">→</div>
                </article>
                <div class="button-interview">
                    <a href="{{ path('app_interview') }}">Ça parle de nous!</button></a>
                </div>
            </section>

            <section class="background-beige" aria-labelledby="suivez-nous">
                <h2>Suivez-nous !</h2>
                <div class="posts-insta {% if not cookieService.isConsentAccepted() %}blurred{% endif %}">
                    <div class="post-insta">
                        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DNqg7GXM5zu/" data-instgrm-version="14"></blockquote>
                        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DGgfdMuu6XQ/" data-instgrm-version="14"></blockquote>
                        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DGlvClyudna/" data-instgrm-version="14"></blockquote>
                        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DJrg1M1t6eQ/" data-instgrm-version="14"></blockquote>
                    </div>
                    {% if not cookieService.isConsentAccepted() %}
                        <div class="insta-overlay" role="dialog" aria-modal="true">
                            <p>Pour afficher nos publications Instagram, veuillez accepter les cookies.
                                 <button class="accept-now-btn">Accepter maintenant</button>
                            </p>
                        </div>
                    {% endif %}
                </div>
                {% if cookieService.isConsentAccepted() %}
                    <script async src="//www.instagram.com/embed.js"></script>
                {% endif %}
            </section>


            <section aria-labelledby="temoignages">
            <h2>Témoignages</h2>

            <section class="new-carousel-container" role="region" aria-roledescription="carousel" aria-label="Témoignages clients">
                <button class="new-carousel-btn prev" aria-label="Élément précédent">‹</button>

                <div class="new-carousel-track">
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment1.png') }}" alt="commentaire google" />
                    </div>
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment2.png') }}" alt="commentaire google" />
                    </div>
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment3.png') }}" alt="commentaire google" />
                    </div>
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment4.png') }}" alt="commentaire google" />
                    </div>
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment5.png') }}" alt="commentaire google" />
                    </div>
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment6.png') }}" alt="commentaire google" />
                    </div>
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment7.png') }}" alt="commentaire google" />
                    </div>
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment8.png') }}" alt="commentaire google" />
                    </div>
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment9.png') }}" alt="commentaire google" />
                    </div>
                    <div class="new-carousel-item">
                        <img src="{{ asset('build/images/comment10.png') }}" alt="commentaire google" />
                    </div>
                </div>

                <button class="new-carousel-btn next" aria-label="Élément suivant">›</button>
            </section>


            <div class="link-wrapper">
                <a class="leave-comment" target="_blank" rel="noopener noreferrer" href="https://www.google.com/search?sca_esv=f63f0269e32ece13&rlz=1C5CHFA_enFR886FR886&tbm=lcl&q=AnimOsmose+%26+Alim%27Osmose+Avis&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxIxNDc1N7M0NDMxtjC2MDU3NDGwsNzAyPiKUdYxLzPXvzg3vzhVQU3BMSczVx3KcyzLLF7Eil8eAPHCwmlbAAAA&rldimm=17576916438385714089&hl=fr-FR&sa=X&ved=2ahUKEwjXgIuOmZeQAxXvVaQEHarhC-IQ9fQKegQIMRAF&biw=1550&bih=738&dpr=1.8#lrd=0x4808cd630850a265:0xf3edc05fccb463a9,3,,,,">Vous avez été conquis ? N'hésitez pas à nous laisser un avis vous aussi !</a>
            </div>

        </section>


{% endblock %}




