{% extends 'base.html.twig' %}
{% set current_page = 'cart' %}

{% block title %}Mon panier{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('product') }}
{% endblock %}
{% block body %}


<div>
    <div class="icones-user-shop">
        <a href="{{ path('app_shop_cart') }}"><i class="fa-solid fa-bag-shopping fa-2xl" style="color: #a0ab81;"></i></a>
        <a href="{{ path('app_login') }}"><i class="fa-solid fa-user fa-2xl" style="color: #a0ab81;"></i></a>
    </div>

    <h1>Votre panier</h1>

    <table>
        <thead>
        <tr>
            <th>Contenance</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.variant.label }}</td>
                <td>{{ item.variant.price }} €</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total }} €</td>
                <td><a href="{{ path('app_shop_cart_remove', {id: item.variant.id}) }}">❌</a></td>
            </tr>
        {% else %}
            <tr><td colspan="5">Votre panier est vide.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Total : {{ total }} €</h2>

    <a href="{{ path('app_product_list') }}"><button type="button"> Continuer mes achats</button></a>
    <a href="{{ path('app_login') }}"><button type="button">Passer commande</button></a>
</div>
{% endblock %}
