{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('authentification') }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">

        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="form-errors" role="alert">
                {{ flash_error }}
            </div>
        {% endfor %}


        <h2>Réinitialisation du mot de passe</h2>

        {{ form_start(requestForm, {
            'attr': {'aria-label': 'Formulaire de demande de réinitialisation du mot de passe'}
        })
        }}

        <div class="form-row">
            {{ form_row(requestForm.email, {
                'attr': {
                    'placeholder': 'Votre adresse email',
                    'aria-required': 'true'
                }
            }) }}
        </div>

        <div class="form-row">
            <small>
                Veuillez renseigner l'adresse email utilisée lors de votre inscription.<br>
                Un lien de réinitialisation vous sera envoyé si le compte existe.
            </small>
        </div>

        <button type="submit">Confirmer</button>

        {{ form_end(requestForm) }}

    </div>


{% endblock %}



{# Rôle : Formulaire “mot de passe oublié”.
Fonction : Afficher le ResetPasswordRequestFormType pour que l’utilisateur entre son email. #}



{# L’utilisateur clique sur “Mot de passe oublié” → formulaire request.html.twig avec ResetPasswordRequestFormType.
Il soumet son email → ResetPasswordRequest est créé, un token est généré.
Après soumission → page check_email.html.twig pour informer l’utilisateur.
Email envoyé → email.html.twig contient le lien avec token.
L’utilisateur clique sur le lien → formulaire reset.html.twig avec ChangePasswordFormType.
Nouveau mot de passe validé → hashé et enregistré, token supprimé. #}
