{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('authentification') }}
{% endblock %}


{% block body %}
    <div class="example-wrapper">

        <h2>Nouveau mot de passe</h2>

        {{ form_start(resetForm, {
            'attr': {
                'aria-label': 'Formulaire de réinitialisation du mot de passe'
            }
        }) }}

        <div class="form-row">
            {{ form_row(resetForm.plainPassword, {
                label: 'Nouveau mot de passe',
                'attr': {
                    'placeholder': 'Entrez votre nouveau mot de passe',
                    'aria-required': 'true',
                    'autocomplete': 'new-password'
                }
            }) }}
            {#
            placeholder : aide visuelle
            aria-required : indique que le champ est obligatoire
            autocomplete="new-password" : améliore la sécurité et empêche le navigateur de remplir un ancien mot de passe
            #}
        </div>

        <button type="submit">Réinitialiser le mot de passe</button>

        {{ form_end(resetForm) }}

    </div>


{% endblock %}


{# Rôle : Formulaire pour saisir le nouveau mot de passe.
Fonction : Afficher le ChangePasswordFormType après validation du token. #}
