<table class="table">
    <thead>
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Personnalisation</th>
        <th>Prix unitaire</th>
        <th>Sous-total</th>
    </tr>
    </thead>
    <tbody>
    {% for article in field.value %}
        <tr>
            <td>{{ article.getVariantId().getProduct.getName() }}</td>
            <td>{{ article.getQuantity() }}</td>
            <td>{{ article.customText ?: '-' }}</td> {# Displays the text or ‘-’ if empty #}
            <td>{{ article.getPrice() }} €</td>
            <td>{{ article.getPrice() * article.getQuantity() }} €</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
