{% extends 'base.html.twig' %}

{% block title %}Prise de contact{% endblock %}

{% block body %}

    <h1>Contactez nous</h1>
    <p>Envoyez-nous un message via ce formulaire :</p>

    {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="flash-danger">{{ message }}</div>
    {% endfor %}



    {# Symfony lutte contre les failles XSS en échappant les variables dans twig(twig échappe les caractères spéciaux) #}
    {{ form_start(contactForm) }}
    {{ form_row(contactForm.nom) }}
    {{ form_row(contactForm.prenom) }}
    {{ form_row(contactForm.telephone) }}
    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.message) }}

    {# Champ honeypot invisible #}
    <div style="display:none">
        {{ form_row(contactForm.website) }}
    </div>

    <button type="submit">Envoyer</button>
    {{ form_end(contactForm) }}


{% endblock %}
