{% extends 'base.html.twig' %}
{% set current_page = 'product' %}

{% block title %} Détail produit{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block body %}
<div>
    <div class="icones-user-shop">
        <a href="{{ path('app_shop_cart') }}"><i class="fa-solid fa-bag-shopping fa-2xl" style="color: #a0ab81;"></i></a>
        <a href="{{ path('app_login') }}"><i class="fa-solid fa-user fa-2xl" style="color: #a0ab81;"></i></a>
    </div>

    <h1>{{ product.name }}</h1>
    <img src="{{ asset(product.imgId.url) }}" alt="{{ product.name }}"/>
    <h3>Description</h3>
    <p>{{ product.description }}</p>
    <h3>Contenance :</h3>
    <ul>
        {% for variant in variants %}
            <li>
                {{ variant.label }} - {{ variant.price }} €
                <a href="{{ path('app_shop_cart_add', {id: variant.id}) }}"> Ajouter au panier</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Composition</h3>
    <p>{{ product.composition }}</p>
    <h3>Composants analytiques</h3>
    <p>{{ product.analyticsComponents }}</p>
    <h3>Additifs</h3>
    <p>{{ product.nutritionnalAdditive }}</p>







</div>
{% endblock %}
